@keyframes area_animated {
 from {
background-position: 0 0;
}
 to {
background-position: 100% 0;
}
}
div#moving_div {
	width: 1350px;
	height: 600px;
	background-image: url(clouds-1.jpg);
	background-position: 0px 0px;
	background-repeat: repeat-x;
	animation: area_animated 20s linear infinite;
	-ms-animation: area_animated 20s linear infinite;
	-moz-animation: area_animated 20s linear infinite;
	-webkit-animation: area_animated 20s linear infinite;
}


